USE [master]
GO
/****** Object:  Database [BtyonDB]    Script Date: 18.05.2022 14:04:27 ******/
CREATE DATABASE [BtyonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BtyonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BtyonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BtyonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BtyonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BtyonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BtyonDB]
GO
/****** Object:  Table [dbo].[dynamicTable]    Script Date: 18.05.2022 14:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dynamicTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
 CONSTRAINT [PK_dynamicTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HiddenCols]    Script Date: 18.05.2022 14:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HiddenCols](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ColName] [nvarchar](50) NULL,
	[isHidden] [bit] NULL,
 CONSTRAINT [PK_HiddenCols] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 18.05.2022 14:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Added] [bit] NULL,
	[Deleted] [bit] NULL,
	[Updated] [bit] NULL,
	[Moved] [nvarchar](10) NULL,
	[Hide] [bit] NULL,
	[ColNameChanged] [nvarchar](50) NULL,
 CONSTRAINT [PK_SystemLogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[prc_HideColumn]    Script Date: 18.05.2022 14:04:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prc_HideColumn]
@ColName nvarchar(50)
as
if(not exists(select ColName from HiddenCols where ColName=@ColName))
begin
insert into HiddenCols(ColName) values(@ColName)
end
else if(exists(select ColName from HiddenCols where ColName=@ColName))
begin
if((select isHidden from HiddenCols where ColName=@ColName)=1)
begin
update HiddenCols set isHidden=0 where ColName=@ColName
end
else if((select isHidden from HiddenCols where ColName=@ColName)=0)
begin
update HiddenCols set isHidden=1 where ColName=@ColName
end
end
GO
USE [master]
GO
