USE [master]
GO
/****** Object:  Database [BtyonDB]    Script Date: 3/2/2023 7:17:51 PM ******/
CREATE DATABASE [BtyonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BtyonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BtyonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BtyonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BtyonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BtyonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BtyonDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Columns]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Columns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Order] [int] NULL,
	[IsVisible] [bit] NULL,
 CONSTRAINT [PK_Columns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[Id] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColumnId] [int] NULL,
	[ValueId] [int] NULL,
	[RecordId] [nvarchar](50) NULL,
	[Added] [bit] NULL,
	[Deleted] [bit] NULL,
	[Updated] [bit] NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_SystemLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Values]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Values](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecordId] [nvarchar](150) NULL,
	[ColumnId] [int] NULL,
	[Value] [nvarchar](50) NULL,
 CONSTRAINT [PK_Values] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Columns] ON 

INSERT [dbo].[Columns] ([Id], [Name], [Order], [IsVisible]) VALUES (1, N'Surname', 2, 1)
INSERT [dbo].[Columns] ([Id], [Name], [Order], [IsVisible]) VALUES (4, N'Name', 1, 1)
INSERT [dbo].[Columns] ([Id], [Name], [Order], [IsVisible]) VALUES (5, N'Adress', 4, 1)
SET IDENTITY_INSERT [dbo].[Columns] OFF
GO
INSERT [dbo].[Records] ([Id], [CreateTime], [ModifyTime]) VALUES (1, CAST(N'2022-12-12T00:00:00.000' AS DateTime), CAST(N'2022-12-12T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([Id], [ColumnId], [ValueId], [RecordId], [Added], [Deleted], [Updated], [Description]) VALUES (204, NULL, 5, N'1', NULL, NULL, 1, N'Record updated:ID:7')
INSERT [dbo].[SystemLogs] ([Id], [ColumnId], [ValueId], [RecordId], [Added], [Deleted], [Updated], [Description]) VALUES (205, NULL, 5, N'2', NULL, NULL, 1, N'Record updated:ID:13')
INSERT [dbo].[SystemLogs] ([Id], [ColumnId], [ValueId], [RecordId], [Added], [Deleted], [Updated], [Description]) VALUES (207, 1, NULL, N'1', NULL, NULL, 1, N'Columns Moved: Name(Down)-Surname(Up)')
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Values] ON 

INSERT [dbo].[Values] ([Id], [RecordId], [ColumnId], [Value]) VALUES (37, N'44bb8a24-585a-4515-bcfa-ad4c06bf230b', 4, N'Ahmet')
INSERT [dbo].[Values] ([Id], [RecordId], [ColumnId], [Value]) VALUES (38, N'44bb8a24-585a-4515-bcfa-ad4c06bf230b', 1, N'Güreli')
INSERT [dbo].[Values] ([Id], [RecordId], [ColumnId], [Value]) VALUES (39, N'44bb8a24-585a-4515-bcfa-ad4c06bf230b', 5, N'456sk')
SET IDENTITY_INSERT [dbo].[Values] OFF
GO
ALTER TABLE [dbo].[Columns] ADD  CONSTRAINT [DF_Columns_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[SystemLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemLogs_Columns] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[Columns] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SystemLogs] CHECK CONSTRAINT [FK_SystemLogs_Columns]
GO
ALTER TABLE [dbo].[Values]  WITH CHECK ADD  CONSTRAINT [FK_Values_Columns] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[Columns] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Values] CHECK CONSTRAINT [FK_Values_Columns]
GO
/****** Object:  StoredProcedure [dbo].[prc_HideColumn]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prc_HideColumn]
@ColName nvarchar(50)
as
if(not exists(select ColName from HiddenCols where ColName=@ColName))
begin
insert into HiddenCols(ColName) values(@ColName)
end
else if(exists(select ColName from HiddenCols where ColName=@ColName))
begin
if((select isHidden from HiddenCols where ColName=@ColName)=1)
begin
update HiddenCols set isHidden=0 where ColName=@ColName
end
else if((select isHidden from HiddenCols where ColName=@ColName)=0)
begin
update HiddenCols set isHidden=1 where ColName=@ColName
end
end
GO
/****** Object:  Trigger [dbo].[InsertNullForNewColumn]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[InsertNullForNewColumn] ON [dbo].[Columns]
 AFTER INSERT
AS
IF(not exists(select ColumnId from [Values] where ColumnId=Id))
BEGIN

DECLARE @colId int
SET @colId=(select Id from inserted)
DECLARE @PractitionerId nvarchar(max)

DECLARE MY_CURSOR CURSOR 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
FOR 
SELECT RecordId
FROM (
    SELECT RecordId, MIN(Id) AS MinColumnId
    FROM [Values]
    GROUP BY RecordId
) AS DistinctRecords
ORDER BY MinColumnId ASC
OPEN MY_CURSOR
FETCH NEXT FROM MY_CURSOR INTO @PractitionerId
WHILE @@FETCH_STATUS = 0
BEGIN 
    insert into [Values](ColumnId,RecordId,[Value]) Values(@colId,@PractitionerId,NULL)
    PRINT @PractitionerId
    FETCH NEXT FROM MY_CURSOR INTO @PractitionerId
END
CLOSE MY_CURSOR
DEALLOCATE MY_CURSOR
end



GO
ALTER TABLE [dbo].[Columns] ENABLE TRIGGER [InsertNullForNewColumn]
GO
/****** Object:  Trigger [dbo].[Logger]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Trigger [dbo].[Logger] on [dbo].[Columns]
for insert
as
declare @ColumnID as int
declare @recordID as int
declare @colName as nvarchar(50)
set @ColumnID=(select top 1(Id) from [Columns] order by Id desc)
set @recordID=(select top 1(Id) from Records order by Id desc)
set @colName=(select Name from [Columns] where Id=@ColumnID)
insert into SystemLogs(ColumnId,Added,RecordId,Description) values(@ColumnID,1,@recordID,'Column Added='+@colName)
GO
ALTER TABLE [dbo].[Columns] ENABLE TRIGGER [Logger]
GO
/****** Object:  Trigger [dbo].[trg_Delete]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_Delete] on [dbo].[Columns]
for delete
as
declare @columnName as nvarchar(50)
select @columnName=deleted.Name from deleted
insert into SystemLogs(Deleted,Description) values(1,'Column Deleted='+@columnName)
GO
ALTER TABLE [dbo].[Columns] ENABLE TRIGGER [trg_Delete]
GO
/****** Object:  Trigger [dbo].[trg_Update]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_Update] on [dbo].[Columns]
for update
as
declare @ColumnId as int
declare @oldName as nvarchar(50)
declare @newName as nvarchar(50)
declare @oldOrder as int 
declare @neworder as int 
declare @secondColumn as nvarchar(50)
declare @isVisible as bit
declare @isVisibleChanged as bit
declare @recordId as int 

set @oldName=(select Name from deleted)
set @newName=(select Name from inserted)
set @ColumnId=(select Id from inserted)
set @neworder=(select [Order] from inserted)
set @oldOrder=(select [Order] from deleted)
set @secondColumn=(select Name from [Columns] where [Order] =@oldOrder)
set @isVisible =(select IsVisible from inserted)
set @isVisibleChanged=(select IsVisible from deleted)
set @recordId=(select top 1(Id) from Records order by Id desc)

if(@newName!=@oldName and @isVisible!=0)
begin
insert [SystemLogs](ColumnId,Updated,RecordId,Description) values(@ColumnId,1,@recordId,'Column name changed: '+@oldName+'-'+@newName)
end
else
if(@neworder!=@oldOrder and @isVisible!=0)
begin
if(@neworder>@oldOrder)  /*Down*/
begin
insert into [SystemLogs](ColumnId,Updated,RecordId,Description) values(@ColumnId,1,@recordId,'Columns Moved: '+@secondColumn+'(Up)-'+@newName+'(Down)')
end else if(@neworder<@oldOrder) 
begin
insert into [SystemLogs](ColumnId,Updated,RecordId,Description) values(@ColumnId,1,@recordId,'Columns Moved: '+@secondColumn+'(Down)-'+@newName+'(Up)')
end
delete from SystemLogs where Description is null
end else
if(@isVisible!=@isVisibleChanged and @isVisible=0)
begin
insert into  [SystemLogs](ColumnId,Updated,RecordId,Description) values(@ColumnId,1,@recordId,'Column Hide : '+@newName)
end
GO
ALTER TABLE [dbo].[Columns] ENABLE TRIGGER [trg_Update]
GO
/****** Object:  Trigger [dbo].[valueLogger]    Script Date: 3/2/2023 7:17:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Trigger [dbo].[valueLogger] on [dbo].[Values]
for insert,Update
as 

declare @ID as nvarchar(max)
declare @value as nvarchar(50)
declare @oldvalue as nvarchar(50)
declare @recordID as nvarchar(50)
declare @valID as int
declare @Id_for_updated_record as nvarchar(max)

set @valID=(select Id from inserted)
set @value=(select [Value] from deleted)
set @oldvalue=(select [Value] from inserted)
set @recordID=(select RecordId from inserted)
set @ID=(SELECT COUNT (DISTINCT RecordId)FROM [Values])
set @Id_for_updated_record=@valID+5

if(@value!=@oldvalue)
begin
if (not exists(select*from SystemLogs where RecordId=@recordID))
begin
insert into SystemLogs(Updated,RecordId,ValueId,Description) values(1,@recordID,@Id,'Record updated:ID:'+@Id_for_updated_record+'')
end
end/**/
else
begin
if (not exists(select*from SystemLogs where RecordId=@recordID))
begin
insert into SystemLogs(Added,RecordId,ValueId,Description) values(1,@recordID,@Id,'Record added:ID:'+@Id_for_updated_record+'')
end
end 
GO
ALTER TABLE [dbo].[Values] ENABLE TRIGGER [valueLogger]
GO
USE [master]
GO
